<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="de.unistuttgart.iste.ps.skilled.ui.SKilLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="skill"
            id="de.unistuttgart.iste.ps.skilled.SKilL"
            name="SKilL Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="de.unistuttgart.iste.ps.skilled.ui.SKilLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="de.unistuttgart.iste.ps.skilled.SKilL.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="de.unistuttgart.iste.ps.skilled.ui.SKilLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="de.unistuttgart.iste.ps.skilled.SKilL.validate">
         <activeWhen>
            <reference
                    definitionId="de.unistuttgart.iste.ps.skilled.SKilL.Editor.opened">
            </reference>
         </activeWhen>
      	</handler>
      	<!-- copy qualified name -->
        <handler
            class="de.unistuttgart.iste.ps.skilled.ui.SKilLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedNameHandler"
            commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName">
            <activeWhen>
				<reference definitionId="de.unistuttgart.iste.ps.skilled.SKilL.Editor.opened" />
            </activeWhen>
        </handler>
        <handler
            class="de.unistuttgart.iste.ps.skilled.ui.SKilLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedNameHandler"
            commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName">
            <activeWhen>
            	<and>
            		<reference definitionId="de.unistuttgart.iste.ps.skilled.SKilL.XtextEditor.opened" />
	                <iterate>
						<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
					</iterate>
				</and>
            </activeWhen>
        </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="de.unistuttgart.iste.ps.skilled.SKilL.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="de.unistuttgart.iste.ps.skilled.SKilL" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
        <definition id="de.unistuttgart.iste.ps.skilled.SKilL.XtextEditor.opened">
            <and>
                <reference definitionId="isXtextEditorActive"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="de.unistuttgart.iste.ps.skilled.SKilL" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="de.unistuttgart.iste.ps.skilled.ui.SKilLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="de.unistuttgart.iste.ps.skilled.SKilL"
            name="SKilL">
            <keywordReference id="de.unistuttgart.iste.ps.skilled.ui.keyword_SKilL"/>
        </page>
        <page
            category="de.unistuttgart.iste.ps.skilled.SKilL"
            class="de.unistuttgart.iste.ps.skilled.ui.SKilLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="de.unistuttgart.iste.ps.skilled.SKilL.coloring"
            name="Syntax Coloring">
            <keywordReference id="de.unistuttgart.iste.ps.skilled.ui.keyword_SKilL"/>
        </page>
        <page
            category="de.unistuttgart.iste.ps.skilled.SKilL"
            class="de.unistuttgart.iste.ps.skilled.ui.SKilLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="de.unistuttgart.iste.ps.skilled.SKilL.templates"
            name="Templates">
            <keywordReference id="de.unistuttgart.iste.ps.skilled.ui.keyword_SKilL"/>
        </page>
        <page
             category="de.unistuttgart.iste.ps.skilled.SKilL"
              class="de.unistuttgart.iste.ps.skilled.ui.SKilLExecutableExtensionFactory:de.unistuttgart.iste.ps.skilled.ui.preferences.SKilLPreferencePage"
              id="de.unistuttgart.iste.ps.skilled.SKilLls"
              name="SKilLls">
                          <keywordReference id="de.unistuttgart.iste.ps.skilled.ui.keyword_SKilL"/>
              
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            class="de.unistuttgart.iste.ps.skilled.ui.SKilLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="de.unistuttgart.iste.ps.skilled.SKilL"
            name="SKilL">
            <keywordReference id="de.unistuttgart.iste.ps.skilled.ui.keyword_SKilL"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
        <page
             category="de.unistuttgart.iste.ps.skilled.SKilL"
              class="de.unistuttgart.iste.ps.skilled.ui.SKilLExecutableExtensionFactory:de.unistuttgart.iste.ps.skilled.ui.preferences.SKilLPreferencePage"
              id="de.unistuttgart.iste.ps.skilled.SKilLls"
              name="SKilLls">
              <keywordReference id="de.unistuttgart.iste.ps.skilled.ui.keyword_SKilL"/>
              <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="de.unistuttgart.iste.ps.skilled.ui.keyword_SKilL"
            label="SKilL"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="de.unistuttgart.iste.ps.skilled.SKilL.validate"
            name="Validate">
      </command>
      <!-- copy qualified name -->
      <command
            id="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
            categoryId="org.eclipse.ui.category.edit"
            description="Copy the qualified name for the selected element"
            name="Copy Qualified Name">
      </command>
      <command
            id="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
            categoryId="org.eclipse.ui.category.edit"
            description="Copy the qualified name for the selected element"
            name="Copy Qualified Name">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="de.unistuttgart.iste.ps.skilled.SKilL.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="de.unistuttgart.iste.ps.skilled.SKilL.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
         <!-- copy qualified name -->
         <menuContribution locationURI="popup:#TextEditorContext?after=copy">
         	<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName" 
         		style="push" tooltip="Copy Qualified Name">
            	<visibleWhen checkEnabled="false">
                	<reference definitionId="de.unistuttgart.iste.ps.skilled.SKilL.Editor.opened" />
            	</visibleWhen>
         	</command>  
         </menuContribution>
         <menuContribution locationURI="menu:edit?after=copy">
         	<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
            	style="push" tooltip="Copy Qualified Name">
            	<visibleWhen checkEnabled="false">
                	<reference definitionId="de.unistuttgart.iste.ps.skilled.SKilL.Editor.opened" />
            	</visibleWhen>
         	</command>  
         </menuContribution>
         <menuContribution locationURI="popup:org.eclipse.xtext.ui.outline?after=additions">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName" 
				style="push" tooltip="Copy Qualified Name">
         		<visibleWhen checkEnabled="false">
	            	<and>
	            		<reference definitionId="de.unistuttgart.iste.ps.skilled.SKilL.XtextEditor.opened" />
						<iterate>
							<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
						</iterate>
					</and>
				</visibleWhen>
			</command>
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="de.unistuttgart.iste.ps.skilled.SKilL.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="de.unistuttgart.iste.ps.skilled.ui.SKilLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="de.unistuttgart.iste.ps.skilled.SKilL.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="de.unistuttgart.iste.ps.skilled.ui.SKilLExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="skill">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="de.unistuttgart.iste.ps.skilled.ui.SKilLExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="skill">
        </resourceServiceProvider>
    </extension>


	<!-- marker definitions for de.unistuttgart.iste.ps.skilled.SKilL -->
	<extension
	        id="skill.check.fast"
	        name="SKilL Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.fast"/>
	    <persistent value="true"/>
	</extension>
	<extension
	        id="skill.check.normal"
	        name="SKilL Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.normal"/>
	    <persistent value="true"/>
	</extension>
	<extension
	        id="skill.check.expensive"
	        name="SKilL Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.expensive"/>
	    <persistent value="true"/>
	</extension>

   <extension
         point="org.eclipse.xtext.builder.participant">
      <participant
            class="de.unistuttgart.iste.ps.skilled.ui.SKilLExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant"
            fileExtensions="skill"
            >
      </participant>
   </extension>
   <extension
            point="org.eclipse.ui.preferencePages">
        <page
            category="de.unistuttgart.iste.ps.skilled.SKilL"
            class="de.unistuttgart.iste.ps.skilled.ui.SKilLExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="de.unistuttgart.iste.ps.skilled.SKilL.compiler.preferencePage"
            name="Compiler">
            <keywordReference id="de.unistuttgart.iste.ps.skilled.ui.keyword_SKilL"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            category="de.unistuttgart.iste.ps.skilled.SKilL"
            class="de.unistuttgart.iste.ps.skilled.ui.SKilLExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="de.unistuttgart.iste.ps.skilled.SKilL.compiler.propertyPage"
            name="Compiler">
            <keywordReference id="de.unistuttgart.iste.ps.skilled.ui.keyword_SKilL"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?after=xtext.ui.openDeclaration">
			<command
				commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand"
				id="de.unistuttgart.iste.ps.skilled.SKilL.OpenGeneratedCode"
				style="push">
					<visibleWhen checkEnabled="false">
						<reference definitionId="de.unistuttgart.iste.ps.skilled.SKilL.Editor.opened" />
					</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="de.unistuttgart.iste.ps.skilled.ui.SKilLExecutableExtensionFactory:org.eclipse.xtext.ui.generator.trace.OpenGeneratedFileHandler"
			commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand">
				<activeWhen>
					<reference definitionId="de.unistuttgart.iste.ps.skilled.SKilL.Editor.opened" />
				</activeWhen>
		</handler>
	</extension>

	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="de.unistuttgart.iste.ps.skilled.ui.SKilLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="de.unistuttgart.iste.ps.skilled.SKilL.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="de.unistuttgart.iste.ps.skilled.SKilL.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
    <!-- quickfix marker resolution generator for de.unistuttgart.iste.ps.skilled.SKilL -->
    <extension
            point="org.eclipse.ui.ide.markerResolution">
        <markerResolutionGenerator
            class="de.unistuttgart.iste.ps.skilled.ui.SKilLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="de.unistuttgart.iste.ps.skilled.ui.skill.check.fast">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="de.unistuttgart.iste.ps.skilled.ui.SKilLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="de.unistuttgart.iste.ps.skilled.ui.skill.check.normal">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="de.unistuttgart.iste.ps.skilled.ui.SKilLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="de.unistuttgart.iste.ps.skilled.ui.skill.check.expensive">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
    </extension>
   	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="de.unistuttgart.iste.ps.skilled.ui.SKilLExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.DefaultRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="de.unistuttgart.iste.ps.skilled.SKilL.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
    <extension point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference
                     definitionId="de.unistuttgart.iste.ps.skilled.SKilL.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
	    <page
	        category="de.unistuttgart.iste.ps.skilled.SKilL"
	        class="de.unistuttgart.iste.ps.skilled.ui.SKilLExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
	        id="de.unistuttgart.iste.ps.skilled.SKilL.refactoring"
	        name="Refactoring">
	        <keywordReference id="de.unistuttgart.iste.ps.skilled.ui.keyword_SKilL"/>
	    </page>
	</extension>

  <extension point="org.eclipse.compare.contentViewers">
    <viewer id="de.unistuttgart.iste.ps.skilled.SKilL.compare.contentViewers"
            class="de.unistuttgart.iste.ps.skilled.ui.SKilLExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="skill">
    </viewer>
  </extension>
  <extension point="org.eclipse.compare.contentMergeViewers">
    <viewer id="de.unistuttgart.iste.ps.skilled.SKilL.compare.contentMergeViewers"
            class="de.unistuttgart.iste.ps.skilled.ui.SKilLExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="skill" label="SKilL Compare">
     </viewer>
  </extension>
  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider id="de.unistuttgart.iste.ps.skilled.SKilL.editors.documentProviders"
            class="de.unistuttgart.iste.ps.skilled.ui.SKilLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
            extensions="skill">
    </provider>
  </extension>
  <extension point="org.eclipse.team.core.fileTypes">
    <fileTypes
            extension="skill"
            type="text">
    </fileTypes>
  </extension>
  <extension
        point="org.eclipse.ui.newWizards">
     <category
           id="de.unistuttgart.iste.ps.skilled.ui.category.wizards"
           name="SKilL">
     </category>
     <wizard
           category="de.unistuttgart.iste.ps.skilled.ui.category.wizards"
           class="de.unistuttgart.iste.ps.skilled.ui.SKilLExecutableExtensionFactory:de.unistuttgart.iste.ps.skilled.ui.wizards.SKilLNewProjectWizard"
           id="de.unistuttgart.iste.ps.skilled.ui.wizard.new.SKilL"
           name="SKilL Project"
           project="true">
     </wizard>
     <wizard
           category="de.unistuttgart.iste.ps.skilled.ui.category.wizards"
           class="de.unistuttgart.iste.ps.skilled.ui.wizards.SKilLNewFileWizard"
           icon="$nl$/icons/sample.gif"
           id="de.unistuttgart.iste.ps.skilled.ui.wizards.SKilLNewFileWizard"
           name="SKilL file"
           project="false">
     </wizard>
  </extension>
  <extension
        point="org.eclipse.ui.views">
     <category
           id="de.unistuttgart.iste.ps.skilled.ui"
           name="SKilLEd">
     </category>
     <view
           allowMultiple="false"
           category="de.unistuttgart.iste.ps.skilled.ui"
           class="de.unistuttgart.iste.ps.skilled.ui.SKilLExecutableExtensionFactory:de.unistuttgart.iste.ps.skilled.ui.views.ToolView"
           icon="$nl$/icons/sample.gif"
           id="de.unistuttgart.iste.ps.skilled.ui.views.ToolView"
           name="ToolView">
     </view>
  </extension>
  <extension
        point="org.eclipse.ui.perspectiveExtensions">
     <perspectiveExtension
           targetID="*">
        <newWizardShortcut
              id="de.unistuttgart.iste.ps.skilled.ui.wizard.new.SKilL">
        </newWizardShortcut>
        <newWizardShortcut
              id="de.unistuttgart.iste.ps.skilled.ui.wizards.SKilLNewFileWizard">
        </newWizardShortcut>
     </perspectiveExtension>

  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           defaultHandler="de.unistuttgart.iste.ps.skilled.ui.tools.imprt.ImportBinaryHandler"
           id="de.unistuttgart.iste.ps.skilled.ui.tools.import2"
           name="Import Binary File">
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.bindings">
     <key
           commandId="de.unistuttgart.iste.ps.skilled.ui.tools.import2"
           contextId="org.eclipse.ui.contexts.window"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="M1+4">
     </key>
  </extension>
	<extension
		  point="org.eclipse.ui.commands">
	   <command
	  		defaultHandler="de.unistuttgart.iste.ps.skilled.ui.refactoring.sorttypes.SortTypesHandler"
	  		id="de.unistuttgart.iste.ps.skilled.ui.refactoring.sorttypes.command"
	  		name="Sort Usertypes">
	   </command>
  </extension>
	<extension
		  point="org.eclipse.ui.menus">
	   <menuContribution
	   		 allPopups="false"
	   		 locationURI="menu:org.eclipse.ui.main.menu">
	   	  <menu
	   	  		id="SKilLEdMenu"
	   	  		label="SKilLEd">
          <command
                commandId="de.unistuttgart.iste.ps.skilled.ui.refactoring.combinedfiles.command"
                label="Combine .skill-files"
                style="push"
                tooltip="Combine multiple .skill-files">
          </command>
          <command
                commandId="de.unistuttgart.iste.ps.skilled.ui.tools.import2"
                label="Import Binary File"
                style="push">
          </command>
	   	  	 <command
	   	  	 	   commandId="de.unistuttgart.iste.ps.skilled.ui.refactoring.sorttypes.command"
	   	  	 	   label="Sort Usertypes"
	   	  	 	   style="push">
	   	  	 </command>
	   	  </menu>
	   </menuContribution>
  </extension>
  	<extension
		  point="org.eclipse.ui.bindings">
	   <key
	   		 commandId="de.unistuttgart.iste.ps.skilled.ui.refactoring.sorttypes.command"
	   		 contextId="org.eclipse.ui.contexts.window"
	   		 schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
	   		 sequence="M1+9">
	   </key>
  </extension>
  
  
    <extension point="org.eclipse.e4.ui.css.swt.theme">	
      <stylesheet uri="css/e4-dark_skill_syntaxhighlighting.css">	
         <themeid	
               refid="org.eclipse.e4.ui.css.theme.e4_dark">	
         </themeid>	
	  </stylesheet>	
   </extension>
    <extension
          point="org.eclipse.ui.commands">
       <command
             commandId="de.unistuttgart.iste.ps.skilled.ui.refactoring.combinefiles.command"
             defaultHandler="de.unistuttgart.iste.ps.skilled.ui.refactoring.combinefiles.SKilLCombineHandler"
             id="de.unistuttgart.iste.ps.skilled.ui.refactoring.combinedfiles.command"
             label="Combine .skill-files"
             name="Combine .skill-files"
             style="push"
             tooltip="Combine multiple .skill-files">
       </command>
    </extension>
    <extension
          point="org.eclipse.ui.bindings">
       <key
             commandId="de.unistuttgart.iste.ps.skilled.ui.refactoring.combinedfiles.command"
             contextId="org.eclipse.ui.contexts.window"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="M1+1">
       </key>
    </extension>

  <extension
        point="org.eclipse.help.contexts">
     <contexts
           file="contexts.xml">
     </contexts>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           allPopups="false"
           locationURI="menu:org.eclipse.ui.main.menu">
        <menu
              id="SKilLEdMenu"
              label="SKilLEd">
           <command
                 commandId="de.unistuttgart.iste.ps.skilled.ui.tools.export"
                 label="Export Tools"
                 style="push">
           </command>
           <command
                 commandId="de.unistuttgart.iste.ps.skilled.ui.tools.imprt"
                 label="Import Tools"
                 style="push">
           </command>
        </menu>
     </menuContribution>
  </extension>
  <extension
        point="org.eclipse.ui.bindings">
     <key
           commandId="de.unistuttgart.iste.ps.skilled.ui.tools.export"
           contextId="org.eclipse.ui.contexts.window"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="M1+3">
     </key>
     <key
           commandId="de.unistuttgart.iste.ps.skilled.ui.tools.imprt"
           contextId="org.eclipse.ui.contexts.window"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="M1+4">
     </key>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           defaultHandler="de.unistuttgart.iste.ps.skilled.ui.tools.export.ExportToolsHandler"
           id="de.unistuttgart.iste.ps.skilled.ui.tools.export"
           name="Export Tools">
     </command>
     <command
           defaultHandler="de.unistuttgart.iste.ps.skilled.ui.wizards.handler.SKilLNewProjectHandler"
           id="de.unistuttgart.iste.ps.skilled.ui.SKilLNewProjectHandler"
           name="New SKilL Project">
     </command>
     <command
           defaultHandler="de.unistuttgart.iste.ps.skilled.ui.wizards.handler.SKilLNewFileHandler"
           id="de.unistuttgart.iste.ps.skilled.ui.SKilLNewFileHandler"
           name="New SKilL File">
     </command>
     <command
           defaultHandler="de.unistuttgart.iste.ps.skilled.ui.tools.imprt.ImportToolsHandler"
           id="de.unistuttgart.iste.ps.skilled.ui.tools.imprt"
           name="Import Tools">
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.perspectives">
     <perspective
           class="de.unistuttgart.iste.ps.skilled.ui.SKilLExecutableExtensionFactory:de.unistuttgart.iste.ps.skilled.ui.SKilLPerspectiveFactory"
           id="de.unistuttgart.iste.ps.skilled.ui.SKilLPerspective"
           name="SKilL">
     </perspective>
  </extension>
  <extension
        point="org.eclipse.ui.perspectiveExtensions">
     <perspectiveExtension
           targetID="org.eclipse.ui.resourcePerspective">
        <newWizardShortcut
              id="de.unistuttgart.iste.ps.skilled.ui.wizard.new.SKilL">
        </newWizardShortcut>
        <newWizardShortcut
              id="de.unistuttgart.iste.ps.skilled.ui.wizards.SKilLNewFileWizard">
        </newWizardShortcut>
     </perspectiveExtension>
  </extension>
  <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:common.new.menu?after=new">
         <command
               commandId="de.unistuttgart.iste.ps.skilled.ui.SKilLNewProjectHandler"
               icon="icons/sample.gif"
               label="SKilL Project"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="de.unistuttgart.iste.ps.skilled.ui.SKilLPerspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="de.unistuttgart.iste.ps.skilled.ui.SKilLNewFileHandler"
               icon="icons/sample.gif"
               label="New SKilL File"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="de.unistuttgart.iste.ps.skilled.ui.SKilLPerspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
</plugin>
